{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "strict": [2, "never"],
    "quotes": [2, "single"],
    "new-cap": {
      newIsCap: true,
      capIsNew: false
    },
    "space-in-brackets": [2, "never"],
    "no-underscore-dangle": [0]
  }
}