.dc {
  // Base // --------------------------------------------------

  .dc-month,
  .dc-month--addons,
  .dc-week,
  .dc-day,
  .dc-daysofweek,
  .dc-daysofweek-day {
    box-sizing: border-box;
  }

  .dc-month,
  .dc-month--addons {
    position: relative;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);
  }


  // Rows // --------------------------------------------------

  .dc-week,
  .dc-daysofweek {
    align-items: stretch;
    clear: both;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }


}